<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ูพูู ูุฏุฑุช</title>
    <link rel="stylesheet" href="/css/p-admin/tags.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Sidebar -->
    <aside class="sidebar">
      <header>
        <a href="/">
          <img src="/images/logo.png" alt="Website logo" class="website-logo" />
        </a>
      </header>
      <main class="sidebar-content">
        <div>
          <a href="./" class="side-link">
            <i class="fa-solid fa-house"></i>
            ุตูุญู ุงุตู
          </a>
        </div>
        <div>
          <a href="./create/" class="side-link">
            <i class="fa-solid fa-square-plus"></i>
            ุงุฌุงุฏ ููุงูู
          </a>
        </div>
        <div>
          <a href="#" class="side-link">
            <i class="fa-solid fa-users"></i>
            ูุณุช ฺฉุงุฑุจุฑุงู
          </a>
        </div>
        <div>
          <a href="#" class="side-link">
            <i class="fa-solid fa-wallet"></i> ูุฏุฑุช ูุฑูุด
          </a>
        </div>
        <div>
          <a href="#" class="side-link">
            <i class="fa-solid fa-shop"></i> ูุญุตููุงุช
          </a>
        </div>
        <div>
          <a href="#" class="side-link">
            <i class="fa-solid fa-list"></i>
            ุฏุณุชู ุจูุฏ ูุง
          </a>
        </div>
      </main>
    </aside>

    <!-- Main content  -->
    <main id="content">
      <!-- Navbar - profile -->
      <nav>
        <div>
          <div>
            <p class="welcome">ูพูุงู ุนุฒุฒ, ุฎูุด ุขูุฏุฏ ๐</p>
            <p class="text-sm">ุฑูุฒ ุฎูุด ุฑู ุฏุงุดุชู ุจุงุดุฏ !</p>
          </div>
        </div>
        <div class="navbar-buttons">
          <button class="bell-button">
            <i class="fa-solid fa-bell"></i>
          </button>
          <div class="break-line"></div>
          <div class="profile-dropdown">
            <div class="profile-data">
              <img
                src="/images/admin.jpg"
                alt="Admin profile"
                class="admin-profile"
              />
              <div>
                <p class="user-name">ูพูุงู ุงุญูุฏ</p>
                <p class="user-role">ูุฏุฑ</p>
              </div>
              <div>
                <span>
                  <i class="fa-solid fa-chevron-left"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <!-- Content  -->
      <section id="container">
        <!-- Sort & Filtering -->
        <header>
          <div>
            <h3 class="page-title">ูุณุช ุชฺฏ ูุง</h3>
            <p class="text-sm">ูพูู ูพุดุฑูุชู ูุฏุฑุช - ููุงูุงุช</p>
          </div>
          <!-- Filter Options -->
          <div class="filtering">
            <div>
              <input
                type="search"
                class="search-bar"
                placeholder="ุฌุณุชุฌู ฺฉูุฏ .."
              />
            </div>
          </div>
        </header>

        <!-- Table container -->
        <main>
          <!-- Table -->
          <div class="table">
            <div class="table-head">
              <div class="th-item">
                <p>#ุดูุงุณู</p>
              </div>
              <div class="th-item w-2/5">
                <p>ุนููุงู</p>
              </div>
              <div class="th-item">
                <p>ุงุฌุงุฏ ุดุฏู</p>
              </div>
              <div class="th-item">
                <p>ูุฏุฑุช</p>
              </div>
            </div>
            <div class="table-main">
              <% if(tags.length){ %> <% tags.forEach(tag => {%>
              <div class="table-row">
                <p><%= tag.id%></p>
                <p><%= tag.title%></p>
                <p><%= new Date(tag.created_at).toLocaleString("fa-IR")%></p>
                <div class="manage-buttons">
                  <form action="/tags/remove/<%= tag.id%>" method="post">
                    <button type="submit" class="manage-button remove">
                      ุญุฐู
                    </button>
                  </form>
                  <form action="" method="post">
                    <button class="manage-button edit">ูุฑุงุด</button>
                  </form>
                </div>
              </div>

              <%})%> <%}%>
            </div>
            <div class="table-footer"></div>
          </div>
        </main>
      </section>
    </main>

    <div class="modal-screen invisible">
      <div class="modal-card"></div>
    </div>

    <script src="/js/sweetalert.js"></script>
    <script>
      if ("<%= locals.messages.error%>") {
        swal({
          title: "<%= locals.messages.error%>",
          icon: "error",
          buttons: "ุชูุงุด ูุฌุฏุฏ",
        });
      } else if ("<%= locals.messages.success%>") {
        swal({
          title: "<%= locals.messages.success%>",
          icon: "success",
          buttons: "ุงูฺฉ",
        });
      }
    </script>
  </body>
</html>
